@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* *{
    margin:0;
    padding:0;
}
.countdown{
    display:flex;
    justify-content: center;
    align-items: center;

}.time{
    margin-right: 10px;
} */
body{
    font-family: "Lato",sans-serif;
    background:url(./3058634.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:98vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content:center;  
     align-items: center; 
     color:black;
}
h1{
    font-size: 60px;
}
.countdown{
    display:none;
    transform:scale(2)
   
}.time{
    display:flex;
    flex-direction: column;
     justify-content: center;
    align-items: center; 
    margin:15px;
}.time h2{
    margin:0 0 5px;
}.year{
    position:absolute;
    font-size: 200px;
    opacity: 0.3;
    bottom:20px;
}
